In [1]:
# guardar las tablas de database en CSVs en la carpeta de src/data

import sqlite3
import pandas as pd

conn = sqlite3.connect('Spain_db') 
c = conn.cursor()

In [2]:
tables = pd.read_sql("""SELECT 
    name
FROM 
    sqlite_schema
WHERE 
    type ='table'""", conn)
tables

                        name
0      weather_aqi_provinces
1       most_polluted_cities
2    madrid_neighborhood_aqi
3            life_expectancy
4                     coches
5         population_density
6                      trees
7                   old_cars
8                     empleo
9             desempleo_2021
10         coches_electricos
11  coches_charging_stations
12      latitudes_longitudes
13                Everything

In [4]:
for name in tables['name']:
    print(name)

weather_aqi_provinces
most_polluted_cities
madrid_neighborhood_aqi
life_expectancy
coches
population_density
trees
old_cars
empleo
desempleo_2021
coches_electricos
coches_charging_stations
latitudes_longitudes
Everything

In [9]:
for name in tables['name']:
    pd.read_sql('''
select * from weather_aqi_provinces
''', conn).to_csv(f'src/data/{name}.csv', index=False)

In [10]:
conn.close()