In [22]:
import pandas as pd
import numpy as np
import json
import urllib
import urllib.request
import requests
import datetime
from datetime import date, datetime, timedelta
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [74]:
# datos sobre latitud, longitud, y altitud de cada provincia
# fuente: https://www.ign.es/web/ane-datos-geograficos/-/datos-geograficos/datosPoblacion?tipoBusqueda=capitales

url='https://www.ign.es/web/ane-datos-geograficos/-/datos-geograficos/datosPoblacion?tipoBusqueda=capitales'
h = urllib.request.urlopen(url)
soup = BeautifulSoup(h)
trs = soup.find_all('tr')
provs = []
lats = []
lngs = []
altitud = []
for el in trs[3:]:
    for i, td in enumerate(el):
        #print(i, td)
        if i == 3:
            provs.append(td.text)
        if i == 7:
            lats.append(float(td.text.replace(',', '.')))
        if i == 9:
            lngs.append(float(td.text.replace(',', '.')))
        if i == 15:
            altitud.append(int(td.text.split('.')[0]))
df = pd.DataFrame(columns = ['province', 'latitude', 'longitude', 'altura'])
df['province'] = provs
df['latitude'] = lats
df['longitude'] = lngs
df['altitud'] = altitud
df.province.replace({'Las Palmas': 'Palmas, Las', 'La Rioja': 'Rioja, La', 'A Coruña': 'Coruña, A', 'Illes Balears': 'Balears, Illes',
                    'Álava': 'Araba/Álava', 'Alicante / Alacant':'Alicante/Alacant', 'Castellón / Castelló': 'Castellón/Castelló',
                    'Valencia / València': 'Valencia', 'Valencia / Valènci': 'Valencia', 'Valencia/Valènci': 'Valencia'}, inplace=True)

In [75]:
df

                  province   latitude  longitude altura  altitud
0                Coruña, A  43.370126  -8.391149    NaN       21
1                 Albacete  38.995881  -1.855747    NaN      681
2         Alicante/Alacant  38.345487  -0.483183    NaN        5
3                  Almería  36.838924  -2.464132    NaN       16
4                    Ávila  40.655870  -4.697713    NaN        1
5                  Badajoz  38.878743  -6.970997    NaN      182
6                Barcelona  41.384247   2.176349    NaN       13
7                  Vizcaya  43.257220  -2.923906    NaN        6
8                   Burgos  42.341130  -3.704198    NaN      859
9                  Cáceres  39.473168  -6.371211    NaN      457
10                   Cádiz  36.521712  -6.284146    NaN       13
11      Castellón/Castelló  39.986408  -0.036881    NaN       27
12                   Ceuta  35.888102  -5.306751    NaN       27
13             Ciudad Real  38.986518  -3.931320    NaN      625
14                 Córdoba  37.879542  -4.780325    NaN      106
15                  Cuenca  40.076538  -2.131523    NaN      997
16                  Girona  41.981861   2.824119    NaN       69
17                 Granada  37.176419  -3.600019    NaN      684
18             Guadalajara  40.634355  -3.162103    NaN      685
19                  Huelva  37.260041  -6.950406    NaN       24
20                  Huesca  42.140627  -0.408423    NaN      483
21                    Jaén  37.765191  -3.790359    NaN      570
22             Palmas, Las  28.099379 -15.413368    NaN        6
23                    León  42.599121  -5.567076    NaN      837
24                  Lleida  41.615274   0.620619    NaN      167
25               Rioja, La  42.466449  -2.445655    NaN      384
26                    Lugo  43.009128  -7.558174    NaN      452
27                  Madrid  40.408412  -3.687601    NaN      657
28                  Málaga  36.720343  -4.419975    NaN        8
29                 Melilla  35.294731  -2.942281    NaN       30
30                  Murcia  37.984364  -1.128541    NaN       42
31                 Ourense  42.336549  -7.863684    NaN      138
32                Asturias  43.362322  -5.843722    NaN      231
33                Palencia  42.007837  -4.534601    NaN      734
34          Balears, Illes  39.571147   2.651817    NaN       24
35                 Navarra  42.814102  -1.645153    NaN      450
36              Pontevedra  42.433814  -8.647990    NaN       16
37               Salamanca  40.967368  -5.665381    NaN      798
38                Gipuzkoa  43.317172  -1.981918    NaN        7
39  Santa Cruz de Tenerife  28.462854 -16.247206    NaN        1
40               Cantabria  43.462979  -3.804748    NaN        8
41                 Segovia  40.949870  -4.125241    NaN        1
42                 Sevilla  37.386205  -5.992514    NaN       11
43                   Soria  41.763279  -2.466248    NaN        1
44               Tarragona  41.119103   1.258422    NaN       69
45                  Teruel  40.344130  -1.109272    NaN      915
46                  Toledo  39.857152  -4.024314    NaN      516
47                Valencia  39.475344  -0.375657    NaN       16
48              Valladolid  41.652328  -4.723349    NaN      690
49             Araba/Álava  42.850588  -2.672757    NaN      539
50                  Zamora  41.499140  -5.754948    NaN      649
51                Zaragoza  41.656457  -0.879287    NaN      208

In [6]:
# diccionario para unir provincias con sus comunidades
coms_dict = {'Almería': 'Andalucía',
 'Cádiz': 'Andalucía',
 'Córdoba': 'Andalucía',
 'Granada': 'Andalucía',
 'Huelva': 'Andalucía',
 'Jaén': 'Andalucía',
 'Málaga': 'Andalucía',
 'Sevilla': 'Andalucía',
 'Huesca': 'Aragón',
 'Teruel': 'Aragón',
 'Zaragoza': 'Aragón',
 'Oviedo': 'Asturias',
 'Palma de Mallorca': 'Baleares',
 'Santa Cruz de Tenerife': 'Canarias',
 'Las Palmas de Gran Canaria': 'Canarias',
 'Santander': 'Cantabria',
 'Albacete': 'Castilla-La Mancha',
 'Ciudad Real': 'Castilla-La Mancha',
 'Cuenca': 'Castilla-La Mancha',
 'Guadalajara': 'Castilla-La Mancha',
 'Toledo': 'Castilla-La Mancha',
 'Ávila': 'Castilla y León',
 'Burgos': 'Castilla y León',
 'León': 'Castilla y León',
 'Salamanca': 'Castilla y León',
 'Segovia': 'Castilla y León',
 'Soria': 'Castilla y León',
 'Valladolid': 'Castilla y León',
 'Zamora': 'Castilla y León',
 'Barcelona': 'Cataluña',
 'Gerona': 'Cataluña',
 'Lérida': 'Cataluña',
 'Tarragona': 'Cataluña',
 'Alicante': 'Comunidad Valenciana',
 'Castellón de la Plana': 'Comunidad Valenciana',
 'Valencia': 'Comunidad Valenciana',
 'Badajoz': 'Extremadura',
 'Cáceres': 'Extremadura',
 'La Coruña': 'Galicia',
 'Lugo': 'Galicia',
 'Orense': 'Galicia',
 'Pontevedra': 'Galicia',
 'Madrid': 'Madrid',
 'Murcia': 'Murcia',
 'Pamplona': 'Navarra',
 'Bilbao': 'País Vasco',
 'San Sebastián': 'País Vasco',
 'Vitoria': 'País Vasco',
 'Logroño': 'La Rioja',
 'Coruña, A': 'Galicia',
 'Asturias': 'Asturias',
 'Cantabria': 'Cantabria',
 'Castellón/Castelló': 'Comunidad Valenciana',
 'Ceuta': 'Ceuta',
 'Girona': 'Cataluña',
 'Balears, Illes': 'Balears, Illes',
 'Rioja, La': 'Rioja, La',
 'Palmas, Las': 'Canarias',
 'Lleida': 'Cataluña',
 'Navarra': 'Navarra',
 'Ourense': 'Galicia',
 'Palencia': 'Castilla y León',
 'Valencia/València': 'Comunidad Valenciana',
            'Valencia': 'Comunidad Valenciana'}

In [7]:
# Añadir columna de comunidad a df
df['comunidad'] = df.province.replace(coms_dict)

In [8]:
# Provincias de España y sus URLs para scrapear los datos de AQI y tiempo de iqair.com.

spain_urls = {'Albacete': 'https://www.iqair.com/spain/castille-la-mancha/albacete',
 'Alicante/Alacant': 'https://www.iqair.com/spain/valencia/alacant',
 'Almería': 'https://www.iqair.com/spain/andalucia/almeria',
 'Araba/Álava': '',
 'Asturias': 'https://www.iqair.com/spain/asturias/oviedo',
 'Ávila': 'https://www.iqair.com/spain/castille-and-leon/avila',
 'Badajoz': 'https://www.iqair.com/spain/extremadura/badajoz',
 'Balears, Illes': 'https://www.iqair.com/spain/balearic-islands/ibiza',
 'Barcelona': 'https://www.iqair.com/spain/catalunya/barcelona',
 'Bizkaia': '',
 'Burgos': 'https://www.iqair.com/spain/castille-and-leon/burgos',
 'Cáceres': 'https://www.iqair.com/spain/extremadura/caceres',
 'Cádiz': 'https://www.iqair.com/spain/andalucia/cadiz',
 'Cantabria': 'https://www.iqair.com/spain/cantabria/santander',
 'Castellón/Castelló': 'https://www.iqair.com/spain/valencia/castello-de-la-plana',
 'Ciudad Real': 'https://www.iqair.com/spain/castille-la-mancha/ciudad-real',
 'Córdoba': 'https://www.iqair.com/spain/andalucia/cordoba',
 'Coruña, A': 'https://www.iqair.com/spain/galicia/a-coruna',
 'Cuenca': 'https://www.iqair.com/spain/castille-la-mancha/cuenca',
 'Gipuzkoa': '',
 'Girona': 'https://www.iqair.com/spain/catalunya/girona',
 'Granada': 'https://www.iqair.com/spain/andalucia/granada',
 'Guadalajara': 'https://www.iqair.com/spain/castille-la-mancha/guadalajara',
 'Huelva': 'https://www.iqair.com/spain/andalucia/huelva',
 'Huesca': 'https://www.iqair.com/spain/aragon/huesca',
 'Jaén': 'https://www.iqair.com/spain/andalucia/jaen',
 'León': 'https://www.iqair.com/spain/castille-and-leon/leon',
 'Lleida': 'https://www.iqair.com/spain/catalunya/lleida',
 'Lugo': 'https://www.iqair.com/spain/galicia/lugo',
 'Madrid': 'https://www.iqair.com/spain/madrid',
 'Málaga': 'https://www.iqair.com/spain/andalucia/malaga',
 'Murcia': 'https://www.iqair.com/spain/murcia',
 'Navarra': 'https://www.iqair.com/spain/navarre/pamplona',
 'Ourense': 'https://www.iqair.com/spain/galicia/ourense',
 'Palencia': 'https://www.iqair.com/spain/castille-and-leon/palencia',
 'Palmas, Las': 'https://www.iqair.com/spain/canarias/las-palmas-de-gran-canaria',
 'Pontevedra': '',
 'Rioja, La': 'https://www.iqair.com/spain/la-rioja/logrono',
 'Salamanca': 'https://www.iqair.com/spain/castille-and-leon/salamanca',
 'Santa Cruz de Tenerife': 'https://www.iqair.com/spain/canarias/santa-cruz-de-tenerife',
 'Segovia': 'https://www.iqair.com/spain/castille-and-leon/segovia',
 'Sevilla': 'https://www.iqair.com/spain/andalucia/sevilla',
 'Soria': 'https://www.iqair.com/spain/castille-and-leon/soria',
 'Tarragona': 'https://www.iqair.com/spain/catalunya/tarragona',
 'Teruel': 'https://www.iqair.com/spain/aragon/teruel',
 'Toledo': 'https://www.iqair.com/spain/castille-la-mancha/toledo',
 'Valencia/València': 'https://www.iqair.com/spain/valencia',
 'Valladolid': 'https://www.iqair.com/spain/castille-and-leon/valladolid',
 'Zamora': 'https://www.iqair.com/spain/castille-and-leon/zamora',
 'Zaragoza': 'https://www.iqair.com/spain/aragon/zaragoza',
 'Ceuta': 'https://www.iqair.com/spain/ceuta',
 'Melilla': ''}

In [12]:
# función para sacar datos de tiempo y contaminación del aire en las provincias de España

def make_dict_provincia(url, city):
    try:
        h = urllib.request.urlopen(url)
    except:
        print(f"{city}, {url} not found")
    soup = BeautifulSoup(h)
    pollutants = ['PM2.5', 'PM10', 'O3', 'NO2', 'SO2', 'CO']
    date = datetime.today()
    province_dict = {}
    province_dict['City'] = city
    test_list = []
    for t in soup.find_all('td'):
        for hijo in t:
            test_list.append(hijo)
    for i in range(len(test_list[:9])):
        if i%2==0:
            province_dict[test_list[i]]=test_list[i+1]
    aqi = None
    for i in range(len(test_list)): 
        if 'AQI' in str(test_list[i]) or 'ICA EE.UU.' in str(test_list[i]):
            try:
                aqi = int(str(test_list[i-1]).replace('*', '').strip())
            except:
                pass
    province_dict['AQI']=aqi
    for p in pollutants:
        province_dict[p] = 'Unknown'
    for el in soup.find_all('table', class_="aqi-overview-detail__other-pollution-table"):
        for hijo in el:
            answers = hijo.text
    answers = answers.split()
    for i in range(len(answers)-1):
        if i%2 == 0:
            province_dict[answers[i]] = answers[i+1]
    province_dict['Date'] = date
    return province_dict

def make_province_df():
    dict_all = {}
    for prov, url in spain_urls.items():
        if len(url)> 2:
            dict_all[prov] = make_dict_provincia(url, prov)
            df = pd.DataFrame.from_dict(dict_all, orient='index')
    return df

In [65]:
# función para sacar muchos datos de contaminantes y tiempo. 
# Al final, no utilicé esta función porque decidí analizar solo provincias en lugar de muchas ciudades en diferentes países.

def predict_everything(url, city, country):
    h = urllib.request.urlopen(url)
    soup = BeautifulSoup(h)
    past_aqi = soup.find_all('b')
    aqis = [a.text for a in past_aqi[1:]]
    Days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Today']
    h = urllib.request.urlopen(url)
    soup = BeautifulSoup(h)
    low_temps = soup.find_all('span')
    lows = []
    high_temps = soup.find_all('strong')
    highs = []
    dates = soup.find_all('td')
    day = []
    wind1 = soup.find_all('p')
    wind = []
    for t in wind1:
        if 'km/h' in t.text:
            new_t = t.text.replace('km/h', '')
            wind.append(float(new_t))
    for p in dates:
        for d in Days:
            if d in p.text:
                day.append(p.text)
    for t in low_temps:
        if '°' in t.text:
            new_t = t.text.replace('°', '')
            lows.append(int(new_t))
    for t in high_temps:
        new_t = t.text.replace('°', '')
        try:
            highs.append(int(new_t))
        except:
            pass
    date = [datetime.today() for i in range(len(aqis))]
    df = pd.DataFrame(columns=['day', 'aqi', 'temp_high', 'temp_low', 'wind_speed', 'city', 'today'])
    if len(highs) < len(aqis):
        for i in range(len(aqis)-len(highs)):
            highs.append(None)
    if len(lows) < len(aqis):
        for i in range(len(aqis)-len(lows)):
            lows.append(None)
    if len(wind) < len(aqis):
        for i in range(len(aqis)-len(wind)):
            wind.append(None)
    df['day'] = day
    df['aqi'] = aqis
    df['temp_high'] = highs
    df['temp_low'] = lows
    df['wind_speed'] = wind
    df['city'] = city
    df['today'] = date
    df['today'] = [i.floor('H') for i in df['today']]
    polluted_cities = soup.find_all('td')
    city_list = []
    neighborhood = []
    aqi_city = []
    aqi_neighborhood = []
    date2 = [datetime.today() for i in range(len(city_list))]
    for p in range(10, 40):
        if p%3 == 0:
            aqi_city.append(polluted_cities[p].text.strip())
            aqi_neighborhood.append(polluted_cities[p+30].text.strip())
        elif p%3 == 2:
            city_list.append(polluted_cities[p].text.strip())
            neighborhood.append(polluted_cities[p+30].text.strip())
    date2 = [datetime.today() for i in range(len(city_list))]
    df_top_polluted = pd.DataFrame(columns = ['city', 'aqi', 'date', 'country'])
    df_neighborhoods = pd.DataFrame(columns = ['neighborhood', 'aqi', 'date', 'city'])
    df_top_polluted['city'] = city_list
    df_neighborhoods['neighborhood'] = neighborhood
    df_top_polluted['aqi'] = aqi_city
    df_neighborhoods['aqi'] = aqi_neighborhood
    df_top_polluted['date'] = date2
    df_top_polluted['date'] = [i.floor('H') for i in df_top_polluted['date']]
    df_neighborhoods['date'] = df_top_polluted['date'][:len(neighborhood)]
    df_neighborhoods['city'] = [city for i in range(len(neighborhood))]
    df_top_polluted['country'] = [country for i in range(len(aqi_city))]
    return df, df_top_polluted, df_neighborhoods

In [13]:
# Utilicé el código de abajo para sacar los datos de AQI y tiempo varias veces al día para tener datos suficientes.
spain_provinces_df = make_province_df()
spain_provinces_df.rename(columns={'PM2.5':'PM2_5'}, inplace=True)
spain_provinces_df.rename(columns={'City':'Provincia'}, inplace=True)

In [16]:
spain_provinces_df.sample()

,Provincia,Weather,Temperature,Humidity,Wind,Pressure,AQI,PM2_5,PM10,O3,NO2,SO2,CO,Date
Tarragona,Tarragona,Few clouds,18°C,61%,24.1 km/h,1002 mbar,63,18µg/m³,22.5µg/m³,59.5µg/m³,6.5µg/m³,5µg/m³,Unknown,2022-12-09 14:56:35.857065

In [28]:
# función para sacar datos sobre la cantidad de arboles por provincia
# para obtener la información, debe hacer clic en el mapa cada vez que aparece un nuevo driver
# para obtener todos los datos del mapa, tuve que repetir el bucle muchas veces 
    # porque no encontraba la manera de obtener todos los datos a la vez.
# Cada vez que se abre el driver, obtiene la información sobre una provincia, 
    # pero no entendí cómo el sistema había terminado con la provincia específica cada vez.
# Me parecio que la provincia fue seleccionada al azar.
# Después de repetir el bucle muchas veces, terminé con información de casi todas las provincias.
# Todavía había algunas provincias para las que el programa no pudo obtener datos. 
# Para estas provincias, agregué la información al diccionario a mano.

def get_tree_count():
    driver = webdriver.Chrome(executable_path=ChromeDriverManager().install())
    driver.maximize_window()
    driver.get('https://www.educaplus.org/geografia/es_prov_arboles.html')
    try:
        driver.find_element('xpath', '/html/body/div[1]/div/a[1]').click()
    except:
        pass
    tree_count = []
    pageSource = driver.find_element('xpath', '//*[@id="main"]').get_attribute("innerHTML")
    soup = BeautifulSoup(pageSource)
    gs = soup.find_all('g')
    for g in gs:
        try:
            texts = g.find('text')
        except:
            pass
    for t in texts:
        tree_count.append(t)
    return tree_count[-1].text

In [32]:
tree_count_dict = {}
for n in range(10):
    try:
        prov_trees = get_tree_count()
        tree_count_dict[prov_trees.split(':')[0]] = prov_trees.split(':')[1]
    except:
        pass
tree_count_dict

C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  after removing the cwd from sys.path.

{'Cantabria': ' 122 millones',
 'Asturias': ' 228 millones',
 'León': ' 251 millones',
 'Lugo': ' 249 millones',
 'Burgos': ' 263 millones',
 'Córdoba': ' 85 millones'}

In [ ]:
# repito el bucle hasta tener los datos de todas las provincias.
for n in range(10):
    try:
        prov_trees = get_tree_count()
        tree_count_dict[prov_trees.split(':')[0]] = prov_trees.split(':')[1]
    except:
        pass
tree_count_dict

In [ ]:
# cuando el diccionario está listo, hago el dataframe
tree_count_df = pd.DataFrame(tree_count_dict, index=[0]).T
tree_count_df = tree_count_df.reset_index()
tree_count_df.columns = ['Provincia', 'Total_Trees']
tree_count_df

In [33]:
# función para sacar datos sobre población y km2 de cada provincia

h = urllib.request.urlopen('http://documentacion.diputacionalicante.es/ra_extension.asp')
soup = BeautifulSoup(h)
tds = []
for td in soup.find_all('td'):
    tds.append(td)
#[t.text for t in tds[:10]]
provs = []
for s in soup.find_all('td', class_="alt_celda"):
    if s.div == None:
        if len(s.text)>2:
            provs.append(s.text)
            
provs = []
for s in soup.find_all('td', class_="alt_celda"):
    if s.div == None:
        if len(s.text)>2:
            provs.append(s.text)
            
provs1 = []
for p in provs:
    if p == 'Fuente: Instituto Nacional de Estadística. España en Cifras\r\n      Fecha consulta: 09/12/2019':
        break
    provs1.append(p)
provs1.remove('41ª')
divs = soup.find_all('div', align='right')
km2 = []
pob = []
pob_densidad = []
for i in range(len(divs)):
    if i%3==0:
        km2.append(divs[i].text)
    if i%3==1:
        pob.append(divs[i].text)
    if i%3==2:
        pob_densidad.append(divs[i].text)

In [35]:
# crear dataframe de densidad de población con los datos anteriores
pob_densidad1 = []
for p in pob_densidad:
    # los numeros que vienen despues de 0,43 no son de densidad de poblacion.
    if p == '0,43':
        break
    pob_densidad1.append(p)
km2 = km2[:len(pob_densidad1)]
pob1 = [p for p in pob if len(p) > 2]
pob1 = pob1[:len(pob_densidad1)]
pob = pob[:len(pob_densidad)]
df_density = pd.DataFrame(columns = ['Area_km2', 'Population', 'Population_density'])
df_density['Area_km2'] = km2[1:]
df_density['Population'] = pob1[1:]
df_density['Population_density'] = pob_densidad1[1:]
df_density['Provinces'] = provs1
df_density.rename(columns = {'Population_density': 'densidad_habitantes_por_km2'}, inplace=True)
df_density = df_density[['Provinces', 'densidad_habitantes_por_km2', 'Area_km2', 'Population']]
df_density.Provinces[20] = 'Valencia/València'
df_density.Provinces[38] = 'Castellón/Castelló'
df_density.Provinces[48] = 'Araba/Álava'
df_density['densidad_habitantes_por_km2'] = [float(d.replace('.', '').replace(',','.')) for d in df_density['densidad_habitantes_por_km2']]
df_density.densidad_habitantes_por_km2[51] = df_density.densidad_habitantes_por_km2[51]/100
df_density.densidad_habitantes_por_km2[52] = df_density.densidad_habitantes_por_km2[52]/100
# df_density.to_csv('density.csv', index=False) 
df_density

C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 Provinces  densidad_habitantes_por_km2 Area_km2  Population
0           TOTAL NACIONAL                       92.300  505.979  46.722.980
1                  Badajoz                       31.100   21.766     676.376
2                  Cáceres                       20.000   19.868     396.487
3              Ciudad Real                       25.200   19.813     499.100
4                 Zaragoza                       55.300   17.275     954.811
5                   Cuenca                       11.500   17.138     197.222
6                   Huesca                       14.000   15.636     219.345
7                     León                       29.800   15.578     463.746
8                   Toledo                       44.700   15.370     687.391
9                 Albacete                       26.000   14.926     388.786
10                  Teruel                        9.100   14.809     134.572
11                  Burgos                       25.000   14.291     357.070
12                 Sevilla                      138.200   14.036   1.939.887
13                 Córdoba                       57.000   13.771     785.240
14                    Jaén                       47.300   13.496     638.099
15                 Granada                       72.200   12.640     912.075
16               Salamanca                       26.800   12.350     331.473
17             Guadalajara                       20.800   12.212     254.308
18                  Lleida                       35.600   12.166     432.866
19                  Murcia                      130.700   11.314   1.478.509
20       Valencia/València                      235.700   10.811   2.547.986
21                Asturias                       97.000   10.604   1.028.244
22                  Zamora                       16.500   10.561     174.549
23                 Navarra                       62.300   10.390     647.554
24                   Soria                        8.600   10.307      88.600
25                  Huelva                       51.300   10.128     519.932
26                    Lugo                       33.600    9.858     331.327
27                 Almería                       80.900    8.773     709.340
28              Valladolid                       64.100    8.111     519.851
29                Palencia                       20.100    8.053     162.035
30                   Ávila                       19.700    8.050     158.498
31                  Madrid                      819.500    8.027   6.578.079
32               Coruña, A                      140.800    7.950   1.119.351
33               Barcelona                      725.800    7.729   5.609.350
34                   Cádiz                      166.600    7.436   1.238.714
35                  Málaga                      224.600    7.308   1.641.121
36                 Ourense                       42.500    7.273     309.293
37                 Segovia                       22.100    6.923     153.342
38      Castellón/Castelló                       87.000    6.632     576.898
39               Tarragona                      126.300    6.303     795.902
40                  Girona                      128.900    5.909     761.947
41                Alicante                      316.200    5.816   1.838.819
42               Cantabria                      108.900    5.329     580.229
43               Rioja, La                       62.600    5.045     315.675
44          Balears, Illes                      226.100    4.992   1.128.908
45              Pontevedra                      209.500    4.495     941.772
46             Palmas, Las                      272.500    4.070   1.109.175
47  Santa Cruz de Tenerife                      301.800    3.375   1.018.510
48             Araba/Álava                      108.300    3.037     328.868
49                 Bizkaia                      518.800    2.216   1.149.628
50                Gipuzkoa                      363.900    1.980     720.592
51                   Ceuta                       42.572       20      85.144
52                 Melilla                       61.703       14      86.384

In [44]:
# coches electricos por comunidad

h = urllib.request.urlopen('https://economia3.com/2022/03/31/475548-las-comunidades-autonomas-en-las-que-se-matriculan-mas-coches-electricos/')
soupCocheEl = BeautifulSoup(h)
lis = soupCocheEl.find_all('li')
communidades = []
coches_electricos = []
for li in lis:
    if li.find_all('strong'):
        communidades.append(li.text.split('(')[0].strip())
        coches_electricos.append(li.text.split('(')[1].replace(')', '').strip())
communidades, coches_electricos
coches_electricos_communidad_df = pd.DataFrame(columns = ['Communidad', 'No_coches_electricos'])
coches_electricos_communidad_df['Communidad'] = communidades
coches_electricos_communidad_df['No_coches_electricos'] = coches_electricos
coches_electricos_communidad_df['No_coches_electricos'] = [int(c.replace('.', '')) for c in coches_electricos_communidad_df.No_coches_electricos]

In [45]:
coches_electricos_communidad_df1 = coches_electricos_communidad_df[:19]
charging_stations_df = coches_electricos_communidad_df[19:]

In [46]:
coches_electricos_communidad_df1

                    Communidad  No_coches_electricos
0          Comunidad de Madrid                  5817
1                     Cataluña                  3261
2         Comunitat Valenciana                  1108
3                    Andalucía                  1065
4                     Canarias                   700
5                   País Vasco                   461
6                      Galicia                   384
7           Castilla-La Mancha                   326
8               Islas Baleares                   317
9              Castilla y León                   296
10            Región de Murcia                   248
11                      Aragón                   179
12      Principado de Asturias                   169
13  Comunidad Foral de Navarra                   132
14                 Extremadura                    85
15                   Cantabria                    79
16                    La Rioja                    35
17                     Melilla                     9
18                       Ceuta                     7

In [47]:
charging_stations_df

                    Communidad  No_coches_electricos
19                    Cataluña                  3282
20         Comunidad de Madrid                  1408
21        Comunitat Valenciana                  1405
22                   Andalucía                   999
23              Islas Baleares                   847
24                    Canarias                   645
25             Castilla y León                   539
26                  País Vasco                   443
27            Región de Murcia                   338
28                     Galicia                   330
29                      Aragón                   309
30          Castilla-La Mancha                   260
31      Principado de Asturias                   224
32  Comunidad Foral de Navarra                   175
33                 Extremadura                   137
34                   Cantabria                   109
35                    La Rioja                    55
36                     Melilla                     7
37                       Ceuta                     9

In [55]:
# coches por 100 habitantes
        
# fuente de datos sobre coches: https://www.vulco.es/blog/sabes-cuantos-coches-por-habitante-tiene-tu-provincia/

# copy-paste de un programa que convierte jpg a texto:

coches_por_habitante =  """
Provincias
Balears (Illes)
1
2 Lugo
3 Ourense
4
Segovia
5 Pontevedra
6 Palencia
7 Zamora
8 Madrid
9 Coruña (A)
10 Leon
11 Cuenca
12 Soria
13 Ávila
14 Toledo
15 Girona
16 Santa Cruz de Tenerife
17 Cáceres
18 Badajoz
19 Teruel
20 Guadalajara
21 Alicante/Alacant
22 Burgos
23 Huesca
24 Castellón/Castelló
25 Cantabria
26 Lleida
27 Salamanca
Media
28 Melilla
29 Palmas (Las)
30 Tarragona
31 Valladolid
32 Murcia
33 Ceuta
34 Navarra
35 Asturias
36 Granada
37 Malaga
38 Almería
39 Valencia/València
40 Araba/Álava
41 Albacete
42 Ciudad Real
43 Sevilla
44 Huelva
45 Cordoba
46 Rioja (La)
47 Cadiz
48 Barcelona
49 Bizkaia
50 Gipuzkoa
51 Jaén
52 Zaragoza
Habitantes
1.107.220
336.527
314.853
155.652
944.346
85.818
512.529
164.644
89.304
180.406
97.426
6.466.996 3.442.362
1.122.799
597.015
473.604
251.206
201.071
106.492
90.040
47.577
162.514
85.853
688.672
362.831
753.576
1.004.124
403.665
684.113
136.977
252.882
1.836.459
360.995
221.079
579.245
582.206
434.041
335.985
792.299
523.679
1.464.847
Turismos Coches por 100 habitantes
684.714
61,84
57,71
57,30
55,13
54,27
54,24
54,00
53,23
53,17
53,04
52,96
52,84
52,83
52,69
52,13
51,97
51,72
51,70
51,47
51,45
51,16
51,05
50,84
50,75
50,60
50,34
50,17
49,93
49,84
49,80
84.519
640.647
1.042.608
194.205
180.419
86.026
42.876
1.097.800 546.700
387.735
255.963
715.588
41.154
311.091
502.479
439.877
780.203
704.297
336.853
2.544.264
1.205.761
324.126
152.907
392.118
183.043
506.888
236.393
1.939.775
894.387
519.596
237.318
791.610 357.785
315.794
140.413
1.239.889 546.133
5.542.680
2.437.180
1.147.576
717.832
648.250
950.507
915.392
1.629.298
392.868
521.846
208.764
353.684
70.507
130.108
939.545
184.275
112.399
293.984
294.606
218.488
168.559
504.417
314.097
276.708
402.385
48,94
48,88
48,85
48,69
48,56
48,19
48,05
47,89
47,83
47,39
47,18
46,68
46,64
46,11
45,67
45,20
44,46
44,05
43,97
43,95
43,76
42,69
42,33
""".split()

In [63]:
# crear dataframe de cantidad de coches por 100 habitantes
coches_total_y_pop_cien = ['684.714', '61,84', '57,71', '57,30', '55,13', '54,27', '54,24', '54,00', '53,23', '53,17', 
                            '53,04', '52,96', '52,84', '52,83', '52,69', '52,13', '51,97', '51,72', '51,70', '51,47', 
                            '51,45', '51,16', '51,05', '50,84', '50,75', '50,60', '50,34', '50,17', '49,93', '49,84', 
                            '49,80', '84.519', '640.647', '1.042.608', '194.205', '180.419', '86.026', '42.876', '1.097.800', 
                            '546.700', '387.735', '255.963', '715.588', '41.154', '311.091', '502.479', '439.877', '780.203', 
                            '704.297', '336.853', '2.544.264', '1.205.761', '324.126', '152.907', '392.118', '183.043', 
                            '506.888', '236.393', '1.939.775', '894.387', '519.596', '237.318', '791.610', '357.785', 
                            '315.794', '140.413', '1.239.889', '546.133', '5.542.680', '2.437.180', '1.147.576', '717.832', 
                            '648.250', '950.507', '915.392', '1.629.298', '392.868', '521.846', '208.764', '353.684',
                            '70.507', '130.108', '939.545', '184.275', '112.399', '293.984', '294.606', '218.488', '168.559',
                            '504.417', '314.097', '276.708', '402.385', '48,94', '48,88', '48,85', '48,69', '48,56', '48,19',
                            '48,05', '47,89', '47,83', '47,39', '47,18', '46,68', '46,64', '46,11', '45,67', '45,20', '44,46',
                            '44,05', '43,97', '43,95', '43,76', '42,69', '42,33']
provs2 = ['Balears', '1', '2', 'Lugo', '3', 'Ourense', '4', 'Segovia', '5', 'Pontevedra', '6', 'Palencia', '7', 'Zamora', 
          '8', 'Madrid', '9', 'Coruña', '(A)', '10', 'Leon', '11', 'Cuenca', '12', 'Soria', '13', 'Ávila', '14', 'Toledo', 
          '15', 'Girona', '16', 'Santa Cruz de Tenerife', '17', 'Cáceres', '18', 'Badajoz', '19', 'Teruel', '20', 
          'Guadalajara', '21', 'Alicante/Alacant', '22', 'Burgos', '23', 'Huesca', '24', 'Castellón/Castelló', '25', 
          'Cantabria', '26', 'Lleida', '27', 'Salamanca', 'Media', '28', 'Melilla', '29', 'Palmas', '(Las)', '30', 
          'Tarragona', '31', 'Valladolid', '32', 'Murcia', '33', 'Ceuta', '34', 'Navarra', '35', 'Asturias', '36', 
          'Granada', '37', 'Malaga', '38', 'Almería', '39', 'Valencia/València', '40', 'Araba/Álava', '41', 'Albacete', 
          '42', 'Ciudad Real', '43', 'Sevilla', '44', 'Huelva', '45', 'Cordoba', '46', 'Rioja', '(La)', '47', 'Cadiz', 
          '48', 'Barcelona', '49', 'Bizkaia', '50', 'Gipuzkoa', '51', 'Jaén', '52', 'Zaragoza']
l1 = []
for n in coches_total_y_pop_cien:
    if ',' in n:
        l1.append(n)
provs3 = []
for p in provs2:
    try:
        d = int(p)
    except:
        provs3.append(p)
provs3.remove('(A)')
provs3.remove('(Las)')
provs3.remove('(La)')
dfcoches = pd.DataFrame(columns=['provs', 'coches_por_100'])
dfcoches['provs'] = provs3
dfcoches['coches_por_100'] = l1
dfcoches['coches_por_100'] = [float(c.replace(',', '.')) for c in dfcoches['coches_por_100']]
dfcoches.provs[0] = 'Balears, Illes'
dfcoches.provs[47] = 'Cádiz'
dfcoches.provs[42] = 'Ciudad Real'
dfcoches.provs[8] = 'Coruña, A'
dfcoches.provs[9] = 'León'
dfcoches.provs[37] = 'Málaga'
dfcoches.provs[29] = 'Palmas, Las'
dfcoches.provs[37] = 'Rioja, La'
dfcoches.provs[45] = 'Córdoba'
dfcoches

C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Emily\anaconda3\envs\myenvsept\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                     provs  coches_por_100
0           Balears, Illes           61.84
1                     Lugo           57.71
2                  Ourense           57.30
3                  Segovia           55.13
4               Pontevedra           54.27
5                 Palencia           54.24
6                   Zamora           54.00
7                   Madrid           53.23
8                Coruña, A           53.17
9                     León           53.04
10                  Cuenca           52.96
11                   Soria           52.84
12                   Ávila           52.83
13                  Toledo           52.69
14                  Girona           52.13
15  Santa Cruz de Tenerife           51.97
16                 Cáceres           51.72
17                 Badajoz           51.70
18                  Teruel           51.47
19             Guadalajara           51.45
20        Alicante/Alacant           51.16
21                  Burgos           51.05
22                  Huesca           50.84
23      Castellón/Castelló           50.75
24               Cantabria           50.60
25                  Lleida           50.34
26               Salamanca           50.17
27                   Media           49.93
28                 Melilla           49.84
29             Palmas, Las           49.80
30               Tarragona           48.94
31              Valladolid           48.88
32                  Murcia           48.85
33                   Ceuta           48.69
34                 Navarra           48.56
35                Asturias           48.19
36                 Granada           48.05
37               Rioja, La           47.89
38                 Almería           47.83
39       Valencia/València           47.39
40             Araba/Álava           47.18
41                Albacete           46.68
42             Ciudad Real           46.64
43                 Sevilla           46.11
44                  Huelva           45.67
45                 Córdoba           45.20
46                   Rioja           44.46
47                   Cádiz           44.05
48               Barcelona           43.97
49                 Bizkaia           43.95
50                Gipuzkoa           43.76
51                    Jaén           42.69
52                Zaragoza           42.33

In [64]:
# https://www.ine.es/jaxiT3/Datos.htm?t=2853
esperanza_de_vida_2021 = pd.read_csv('1485bsc.csv', encoding="ISO-8859-1", sep=';')
esperanza_de_vida_2021 = esperanza_de_vida[['Provincias', 'Total']]
esperanza_de_vida_2021['Provincias'] = [p[3:] for p in esperanza_de_vida_2021.Provincias]
esperanza_de_vida_2021['Total'] = [float(t.replace(',', '.')) for t in esperanza_de_vida_2021['Total']]
esperanza_de_vida_2021

                   Provincias         Sexo  Periodo  Total
0                 02 Albacete  Ambos sexos     2021  83,22
1         03 Alicante/Alacant  Ambos sexos     2021  82,28
2                  04 Almería  Ambos sexos     2021  80,65
3              01 Araba/Álava  Ambos sexos     2021  84,32
4                 33 Asturias  Ambos sexos     2021  82,74
5                    05 Ávila  Ambos sexos     2021  83,53
6                  06 Badajoz  Ambos sexos     2021  81,87
7           07 Balears, Illes  Ambos sexos     2021  83,36
8                08 Barcelona  Ambos sexos     2021  83,48
9                  48 Bizkaia  Ambos sexos     2021  83,68
10                  09 Burgos  Ambos sexos     2021  84,52
11                 10 Cáceres  Ambos sexos     2021  82,52
12                   11 Cádiz  Ambos sexos     2021  80,77
13               39 Cantabria  Ambos sexos     2021  83,64
14      12 Castellón/Castelló  Ambos sexos     2021  82,07
15             13 Ciudad Real  Ambos sexos     2021  82,41
16                 14 Córdoba  Ambos sexos     2021  82,13
17               15 Coruña, A  Ambos sexos     2021  83,15
18                  16 Cuenca  Ambos sexos     2021  83,36
19                20 Gipuzkoa  Ambos sexos     2021  83,44
20                  17 Girona  Ambos sexos     2021  83,04
21                 18 Granada  Ambos sexos     2021  81,85
22             19 Guadalajara  Ambos sexos     2021  83,84
23                  21 Huelva  Ambos sexos     2021  81,19
24                  22 Huesca  Ambos sexos     2021  83,67
25                    23 Jaén  Ambos sexos     2021  81,76
26                    24 León  Ambos sexos     2021  83,51
27                  25 Lleida  Ambos sexos     2021  82,77
28                    27 Lugo  Ambos sexos     2021  83,35
29                  28 Madrid  Ambos sexos     2021  84,63
30                  29 Málaga  Ambos sexos     2021  81,86
31                  30 Murcia  Ambos sexos     2021  82,21
32                 31 Navarra  Ambos sexos     2021  84,28
33                 32 Ourense  Ambos sexos     2021  83,51
34                34 Palencia  Ambos sexos     2021  82,41
35             35 Palmas, Las  Ambos sexos     2021  82,15
36              36 Pontevedra  Ambos sexos     2021  83,64
37               26 Rioja, La  Ambos sexos     2021  83,22
38               37 Salamanca  Ambos sexos     2021  84,74
39  38 Santa Cruz de Tenerife  Ambos sexos     2021  82,91
40                 40 Segovia  Ambos sexos     2021  84,06
41                 41 Sevilla  Ambos sexos     2021  81,46
42                   42 Soria  Ambos sexos     2021  83,69
43               43 Tarragona  Ambos sexos     2021  82,98
44                  44 Teruel  Ambos sexos     2021  83,67
45                  45 Toledo  Ambos sexos     2021  82,96
46       46 Valencia/València  Ambos sexos     2021  82,22
47              47 Valladolid  Ambos sexos     2021  83,97
48                  49 Zamora  Ambos sexos     2021  84,11
49                50 Zaragoza  Ambos sexos     2021  83,08
50                   51 Ceuta  Ambos sexos     2021  78,47
51                 52 Melilla  Ambos sexos     2021  79,79

In [66]:
# https://www.ine.es/jaxiT3/Datos.htm?t=3996

empleo_spain_2022T2 = pd.read_csv('empleo_espana2022T2.csv', sep=';')
empleo_spain_2022T2['Tasa de paro de la población'] = [float(n.replace(',', '.')) for n in empleo_spain_2022T2['Tasa de paro de la población']]
empleo_spain_2022T2['Tasa de empleo de la población'] = [float(n.replace(',', '.')) for n in empleo_spain_2022T2['Tasa de empleo de la población']]
empleo_spain_2022T2['Tasa de actividad'] = [float(n.replace(',', '.')) for n in empleo_spain_2022T2['Tasa de actividad']]
del empleo_spain_2022T2['Unnamed: 4']
empleo_spain_2022T2['Provincia'] = [p[3:] for p in empleo_spain_2022T2['Provincia']]
empleo_spain_2022T2

,Provincia,Tasa de actividad,Tasa de paro de la población,Tasa de empleo de la población
0,01 Total Nacional,58.71,12.48,51.38
1,02 Albacete,58.07,12.41,50.86
2,03 Alicante/Alacant,57.08,14.13,49.01
3,04 Almería,61.31,15.39,51.87
4,01 Araba/Álava,57.62,9.42,52.19
5,33 Asturias,48.86,11.36,43.31
6,05 Ávila,52.78,14.86,44.94
7,06 Badajoz,56.60,16.14,47.46
8,"07 Balears, Illes",65.42,9.29,59.34
9,08 Barcelona,61.29,9.18,55.67
10,48 Bizkaia,56.71,9.28,51.45
11,09 Burgos,58.94,9.70,53.23
12,10 Cáceres,54.28,17.78,44.63
13,11 Cádiz,55.05,21.70,43.10
14,39 Cantabria,54.81,8.17,50.33
15,12 Castellón/Castelló,57.36,10.55,51.31
16,13 Ciudad Real,55.64,17.10,46.12
17,14 Córdoba,55.02,20.67,43.64
18,"15 Coruña, A",53.86,10.92,47.98
19,16 Cuenca,56.94,10.77,50.81
20,20 Gipuzkoa,53.53,7.53,49.50
21,17 Girona,63.76,8.26,58.49
22,18 Granada,58.31,22.18,45.37
23,19 Guadalajara,62.89,11.65,55.57
24,21 Huelva,56.77,12.24,49.83
25,22 Huesca,57.78,10.87,51.50
26,23 Jaén,52.28,19.64,42.01
27,24 León,53.21,10.62,47.56
28,25 Lleida,60.66,10.30,54.42
29,27 Lugo,52.39,8.99,47.69
30,28 Madrid,63.79,10.18,57.29
31,29 Málaga,56.97,17.76,46.85
32,30 Murcia,59.93,12.18,52.63
33,31 Navarra,58.70,8.76,53.56
34,32 Ourense,48.99,10.84,43.68
35,34 Palencia,55.84,10.52,49.97
36,"35 Palmas, Las",60.59,18.06,49.65
37,36 Pontevedra,53.96,12.41,47.26
38,"26 Rioja, La",60.27,10.19,54.13
39,37 Salamanca,55.83,10.30,50.08
40,38 Santa Cruz de Tenerife,57.67,17.43,47.62
41,40 Segovia,59.18,7.74,54.60
42,41 Sevilla,57.59,17.89,47.29
43,42 Soria,60.40,7.32,55.98
44,43 Tarragona,56.53,10.63,50.52
45,44 Teruel,57.96,9.07,52.70
46,45 Toledo,62.04,14.93,52.77
47,46 Valencia/València,59.18,12.36,51.87
48,47 Valladolid,54.49,9.35,49.39
49,49 Zamora,50.28,12.10,44.20
50,50 Zaragoza,59.30,8.50,54.26
51,51 Ceuta,60.44,22.75,46.69
52,52 Melilla,63.11,24.66,47.55

In [69]:
# Fuente: INE
esperanza_de_vida = pd.read_csv('life_expectancy.csv')

In [70]:
esperanza_de_vida

                Provincias  Total             comunidad
0                 Albacete  83.22    Castilla-La Mancha
1         Alicante/Alacant  82.28      Alicante/Alacant
2                  Almería  80.65             Andalucía
3              Araba/Álava  84.32           Araba/Álava
4                 Asturias  82.74              Asturias
5                    Ávila  83.53       Castilla y León
6                  Badajoz  81.87           Extremadura
7           Balears, Illes  83.36        Balears, Illes
8                Barcelona  83.48              Cataluña
9                  Bizkaia  83.68               Bizkaia
10                  Burgos  84.52       Castilla y León
11                 Cáceres  82.52           Extremadura
12                   Cádiz  80.77             Andalucía
13               Cantabria  83.64             Cantabria
14      Castellón/Castelló  82.07  Comunidad Valenciana
15             Ciudad Real  82.41    Castilla-La Mancha
16                 Córdoba  82.13             Andalucía
17               Coruña, A  83.15               Galicia
18                  Cuenca  83.36    Castilla-La Mancha
19                Gipuzkoa  83.44              Gipuzkoa
20                  Girona  83.04              Cataluña
21                 Granada  81.85             Andalucía
22             Guadalajara  83.84    Castilla-La Mancha
23                  Huelva  81.19             Andalucía
24                  Huesca  83.67                Aragón
25                    Jaén  81.76             Andalucía
26                    León  83.51       Castilla y León
27                  Lleida  82.77              Cataluña
28                    Lugo  83.35               Galicia
29                  Madrid  84.63                Madrid
30                  Málaga  81.86             Andalucía
31                  Murcia  82.21                Murcia
32                 Navarra  84.28               Navarra
33                 Ourense  83.51               Galicia
34                Palencia  82.41       Castilla y León
35             Palmas, Las  82.15              Canarias
36              Pontevedra  83.64               Galicia
37               Rioja, La  83.22             Rioja, La
38               Salamanca  84.74       Castilla y León
39  Santa Cruz de Tenerife  82.91              Canarias
40                 Segovia  84.06       Castilla y León
41                 Sevilla  81.46             Andalucía
42                   Soria  83.69       Castilla y León
43               Tarragona  82.98              Cataluña
44                  Teruel  83.67                Aragón
45                  Toledo  82.96    Castilla-La Mancha
46       Valencia/València  82.22  Comunidad Valenciana
47              Valladolid  83.97       Castilla y León
48                  Zamora  84.11       Castilla y León
49                Zaragoza  83.08                Aragón
50                   Ceuta  78.47                 Ceuta
51                 Melilla  79.79               Melilla

In [73]:
# fuente: INE
old_cars_km = pd.read_csv('old_cars.csv')
old_cars_km

,Comunidades,No_contesta,Total_vehículos,0_a_4_años,11_a_20_años,21_a_50_años,5_a_10_años
0,Andalucía,3367.2,10126.6,11698.0,7526.5,3580.1,9966.1
1,Aragón,0.0,11213.4,13105.0,8178.5,5672.5,11201.7
2,Asturias,3000.0,11238.3,12316.0,9205.1,9626.0,11431.4
3,"Balears, Illes",0.0,11370.6,12150.2,8169.3,4430.5,11503.6
4,Canarias,0.0,19585.7,20660.0,19433.9,17995.4,18799.2
5,Cantabria,4000.0,12897.5,13576.4,7199.6,844.5,14197.4
6,Castilla y León,3889.9,11361.5,13562.0,8713.7,4700.3,12099.8
7,Castilla-La Mancha,2000.0,12691.8,14688.6,9280.9,9866.4,13596.2
8,Cataluña,9554.6,11577.8,12623.5,8675.3,9653.4,11654.0
9,Ceuta,0.0,24024.4,15748.4,19801.2,5000.0,33299.4
10,Comunidad Valenciana,6970.8,12301.3,13571.2,8365.4,13130.2,12460.5
11,Extremadura,200.0,9991.6,13792.7,7392.2,4152.0,9538.3
12,Galicia,0.0,13349.7,15026.7,10697.6,8970.5,13765.7
13,Madrid,9069.7,15699.6,16035.0,12841.8,4257.3,16443.4
14,Murcia,0.0,13240.2,13575.7,10944.3,6561.1,13877.6
15,Navarra,4293.8,12678.3,14865.1,9512.6,2758.1,12953.8
16,País Vasco,0.0,11568.1,12947.7,9258.3,6124.2,11666.7
17,"Rioja, La",6240.0,10736.7,12489.9,8602.6,6310.5,10749.7
18,Total Nacional,7683.6,12562.9,13889.5,9729.9,7891.8,12784.1

In [ ]:
# despues de limpiar los datos, he guardado todos en csvs y en un database de sql.
# A traves del database, analizo y visualizo los datos en otro notebook.